# Ignore everything
*
.DS_Store

# Keep these
!.gitignore
!sample/
!lecturenotes.cls
!Icon
!LICENSE
!README.md
!doc/

# 先放行全部 tex / pdf
!*.tex
!*.pdf

# 再屏蔽文件名包含 debug 或 inspect 的 tex / pdf
*debug*.tex
*inspect*.tex
*debug*.pdf
*inspect*.pdf